/*
    Font: arial
    Fekete: #333333
    Szürke: #cccccc
    Világos zöld: #3cb878
    Sötét zöld: #007335
    Kék: #063711
    Sérga: #ffab40
    Arany: #fed346
    Ezüst: #8d8d8d
    Bronz: #ce7402
*/
body {
	font-family: Arial, Helvetica, sans-serif;	
}

.szurke{
    background-color: #cccccc;
	border: 2px solid #333333;
}

h1,h3,h4,h5,h6 {
	font-weight: bold;
}

.container {
	width: 800px;
	margin: auto;
}

.kep {
	background-color: #3cb878;
	margin: 20px 20px 0 0;
	padding: 10px 0;
	border: 2px solid black;
	border-radius: 10px;
	color: white;
	text-align: center;
}

.kep img{
	width: 200px;
}

.kupa {
	width: 30px;
	display: block;
	float: left;
}
a:hover {
	text-decoration: none;
}

.vers {
	margin: 10px 200px 10px 200px;
	font-size: 0.8em;
}

.verscim {
	text-align: center;
}

.hivatkozas a {
	color: #3cb878;
	text-decoration: underline;
}

.jobbkeret {
	// border-right: 1px solid black;
	text-align: center;
}
.teglalap {
	padding: 15px;
	border: 1px solid #333333;
}
.teglalap p {
	text-indent: 40px;
}

#adatok span{
	margin-left: 15px;
}