/*
    Font: arial
    Fekete: #333333
    Szürke: #cccccc
    Világos zöld: #3cb878
    Sötét zöld: #007335
    Kék: #063711
    Sérga: #ffab40
    Arany: #fed346
    Ezüst: #8d8d8d
    Bronz: #ce7402
*/

.szurke{
    background-color: #cccccc;
}